/* This is a css comment. */
body {
    background-color: black;
    color: white;
}

div {
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p {
    color:white;
    font-size: 18px;
}
/*
button {
    background-color: orange;
    font-size: 18px;
}
*/
h1 {
    color:#Ce0000;
}

.sausage {
    color:rgb(255, 160, 170);
}

/* The CSS box model. */

/*
    margin:  
    border:    
    padding:
*/
.box {
    background: darkgreen;
    width: 300px;
    /* margin creates empty space WITHOUT the BACKGROUND-COLOR! */
    margin: 100px;
    /* padding creates empty space WITH the BACKGROUND-COLOR! */
    padding: 20px;
    border-width: 5px;
    border-color: #Ce0000;
    border-style: dashed;
    border-radius: 5px;
}

.avatar.proportioned {
    height: auto;
    width: 300px;
  }
  
  .avatar.distorted {
    height: 400px;
    width: 200px;
  }

  .container .text {
    background-color: yellow;
    color: red;
    font-size: 20px;
    text-align: center;
  }